*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: white;
    justify-content: center;

}

body{
    background-color: black;
}

header{
    display: flex;
    background-color: #000000;
}

nav{
    display: flex;
    justify-content: flex-end;
    width: 70%;
    background-color: #212529;
}

.contenedor_logo{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    background-color: #212529;
}

.logo{
    width: 15%;
}

.logo img{
    width: 100%;
}

.navegacion{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.navegacion li a{
    text-decoration: none;
    color: white;
}


.redes_sociales{
    text-decoration: none;
}

.presentación{
    color: black;
    text-align: center;
}
.words{
    color: black;
    font-size: 1;
    font-style:italic;
    line-height: 1;
    text-align: center;
}
.words span{
    font-size: 3rem;
    display: inline-block;
    

    animation: move 4s ease-in-out infinite ;
}
@keyframes move {
    0%{
        transform: translate(0%, 0);
    }

    25%{
        transform: translate(10%, 0);
    }


    50%{
        transform: translate3d(15%, 0) ;
    }
    
    75%{
        transform: translate(10%, 0);
    }

    100%{
        transform: translate(0%, 0);
    }
}
.words span:nth-child(2){
    animation-delay: 0.5s;
}

.words span:nth-child(3){
    animation-delay: 1s;
}

.words span:nth-child(4){
    animation-delay: 1.5s;
}

.words span:nth-child(5){
    animation-delay: 2s;
}

.words span:nth-child(6){
    animation-delay: 2.5s;
}

.words span:nth-child(7){
    animation-delay: 3s;
}

.words span:nth-child(8){
    animation-delay: 3.5s;
}

.words span:nth-child(9){
    animation-delay: 4s;
}

.words span:nth-child(10){
    animation-delay: 4.5s;
}

.words span:nth-child(11){
    animation-delay: 5s;
}



h1{
    font-weight: bold t;
    font-size: 45px ;
    color: black;
    text-align: center;
}

.contenedor_principal{
    height: 550px;
    display: flex;
    gap: 15px;
    justify-content:center;
}


.foto_trofeo .foto{
    width: 820px;
    height: 500px;
    display: flex;
}

.foto_trofeo{
    justify-content: center;

}

.video .video2{
    justify-content: center;
}


@media all and (max-width: 800px) {
    .contenedor_principal  { 
        justify-content: center;
        width: 300px;
        height: 1000px;
        flex-direction: column;
        gap: 20px;
    }

    .foto_trofeo .foto{
    width: 450px;
    margin-left: 15%;
    margin-right: 15%;
}

    .video .video2{
        width: 450px;
        margin-left: 15%;
        margin-right: 15%;  
    }
}

footer{
    background-color: black;
    color: white;
}


.copyright{
    color: grey;
    text-align: center;
}

.redes_sociales{
    display: flex;
    justify-content: space-evenly;
}

.informe{
    text-align: center;
}

.formulario{
    text-align: center;
    color: white;
}

.letraform{
    font-size: 20px;
}
.textoadn{
    text-align: center;
    color: white;
    font-size: 33px;
    
}
.quienes_somos{
    color: white;
    text-align: center;
    font-size: 17px;
    margin-left: 50px;
    margin-right: 50px;
}

.right{
    color: white;
    text-align: start;
}

.taekwondo{
    color: white;
    text-align:justify;
    font-size: 17px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.contenedor_cinturones{
    display: flex;
    flex-wrap: wrap;
    justify-content:center
}

.cinturones{
    color: white;
    text-align: justify;
    justify-content: start;
    padding-right: 20px;
    padding-left: 20px;
    width: 50%;
    min-width: 300px;
}


.img_cinturones{
    padding-right: 0px;
    width: 360px;
    min-width: 300px;
}

.ventas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ventas img{
    width: 414px ;
    border: double 7px white;
    margin: 5px;
    justify-content: center;
}