*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: white;
    justify-content: center;

}

body{
    background-color: black;
}

header{
    display: flex;
    background-color: #000000;
}

nav{
    display: flex;
    justify-content: flex-end;
    width: 70%;
    background-color: #212529;
}

.contenedor_logo{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    background-color: #212529;
}

.logo{
    width: 15%;
}

.logo img{
    width: 100%;
}

.navegacion{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.navegacion li a{
    text-decoration: none;
    color: white;
}


.redes_sociales{
    text-decoration: none;
}

.presentación{
    color: white;
    text-align: center;
}

h1{
    font-weight: bold t;
    font-size: 45px ;
    color: white;
    text-align: center;
}

.contenedor_principal{
    height: 700px;
    display: grid;
    grid-template-columns: auto 60%;
    grid-template-rows: 4% auto;
    justify-content: center;
}

.foto_trofeo img{
    grid-column: 1/2;
    grid-row: 1/3;
    width: 300px;
}
.video{
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    width: 800px;
    height: 500px;
    
}

.noticias_fb{
    color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    justify-self: center;
}    

footer{
    background-color: black;
    color: white;
}


.copyright{
    color: grey;
    text-align: center;
}

.redes_sociales{
    display: flex;
    justify-content: space-evenly;
}

.informe{
    text-align: center;
}

.formulario{
    text-align: center;
    color: white;
}

.letraform{
    font-size: 20px;
}
.textoadn{
    text-align: center;
    color: white;
    font-size: 33px;
    
}
.quienes_somos{
    color: white;
    text-align: center;
    font-size: 17px;
    margin-left: 50px;
    margin-right: 50px;
}

.right{
    color: white;
    text-align: start;
}

.taekwondo{
    color: white;
    text-align:justify;
    font-size: 17px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.contenedor_cinturones{
    display: flex;
    flex-wrap: wrap;
    justify-content:center
}

.cinturones{
    color: white;
    text-align: justify;
    justify-content: start;
    padding-right: 20px;
    padding-left: 20px;
    width: 50%;
    min-width: 300px;
}


.img_cinturones{
    padding-right: 0px;
    width: 360px;
    min-width: 300px;
}

.ventas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ventas img{
    width: 414px ;
    border: double 7px white;
    margin: 5px;
    justify-content: center;
}