.presentación {
    color: $color_2;
    text-align: center;
}

h1 {
    font-weight: bold t;
    font-size: 45px;
    color: $color_2;
    text-align: center;
}

.informe {
    text-align: center;
}

.formulario {
    text-align: center;
    color: $color_2;
}

.letraform {
    font-size: 20px;
}

.textoadn {
    text-align: center;
    color: $color_2;
    font-size: 33px;
}

.quienes_somos {
    color: $color_2;
    text-align: center;
    font-size: 19px;
    margin-left: 50px;
    margin-right: 50px;
}

.right {
    color: $color_2;
    text-align: start;
    font-size: 18px;
}

.taekwondo {
    color: $color_2;
    text-align: justify;
    font-size: 18px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}



.cinturones {
    color: $color_2;
    text-align: justify;
    justify-content: start;
    padding-right: 20px;
    padding-left: 20px;
    width: 50%;
    min-width: 300px;
    font-size: 18px;
}
