.redes_sociales {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
}

footer {
    background-color: $background-color_2;
    color: $color_1;
}

.copyright {
    color: $color_3;
    text-align: center;
}