.contenedor_principal {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}

.video {
    width: 100%;
    padding: 20px;
}


.contenedor_cinturones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.img_cinturones {
    margin: 20px;
    width: 360px;
    min-width: 300px;
    border: double 7px $color_2;
}

.ventas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        width: 414px;
        height: 431px;
        border: double 7px $color_2;
        margin: 5px;
        justify-content: center;
    }
}